<!doctype html>
<html class="no-js" lang="">

<head>
<meta charset="utf-8" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<title>:: Falcon - Admin Dashboard ::</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<link rel="stylesheet" href="static/js/vendor/bootstrap/css/bootstrap.min.css">
<!-- CSS Files -->

<link href="static/css/main.css" rel="stylesheet">
</head>

<body id="falcon" class="authentication">
<div class="wrapper">
	<div class="header header-filter" style="background-image: url('static/images/login-bg.jpg'); background-size: cover; background-position: top center;">
		<div class="container">
			<div class="row justify-content-around">
          		<div class="col-lg-4 col-md-6 col-sm-12 text-center">
					<div class="card card-signup">
						<form class="form">
							<div class="header header-primary text-center">
								<h4>Forgot Password?</h4>
							</div>
							<h3 class="mt-0">Falcon</h3>
							<p class="text-muted p-15">Enter your e-mail address below to reset your password.</p>
							<div class="content">
								<div class="form-group">
									<input type="email" class="form-control underline-input" placeholder="Enter Your Email">
								</div>
							</div>
							<div class="footer text-center mb-20">
								<a href="index.html" class="btn btn-info btn-raised">Submit</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center mt-20"> <a href="login.html" class="text-uppercase text-white">Back</a> </div>
				</div>
			</div>
		</footer>
	</div>
</div>
<!--  Vendor JavaScripts --> 
<script src="static/bundles/libscripts.bundle.js"></script>
<script src="static/bundles/mainscripts.bundle.js"></script> <!-- Custom Js -->
</body>
</html>
